<div class="modal" [class.show]="isOpen()">
  <form [formGroup]="collectionForm" (ngSubmit)="onSubmit()">
    <div>
      <label> Name </label>
      <input type="text" formControlName="name" />
    </div>
    <div>
      <label> Display name </label>
      <input type="text" formControlName="displayName" />
    </div>

    @for(attribute of attributes.controls; track $index){
    <!-- <ng-container formGroupName="{{ $index }}"> -->
    <create-attribute-form
      [index]="$index"
      [formGroup]="collectionForm"
    ></create-attribute-form>
    <!-- <label>Attribute</label>
        <input name="name" formControlName="name" type="text" />
        <input formControlName="displayName" type="text" />
      </ng-container> -->
    }

    <button type="button" (click)="addAttribute()">add attribute</button>
    <br />
    <button>create</button>
  </form>
</div>
