<h1>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
    >Zemanik CMS</a
  >
</h1>
<nav>
  <ul>
    <li>
      <a
        routerLink="/collections"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Collections</a
      >
    </li>
    <li>
      <a
        routerLink="/files"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Files</a
      >
    </li>
  </ul>
</nav>
@if (!profile()) {
<ul>
  <li>
    <a
      routerLink="/login"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Login</a
    >
  </li>
  <li>
    <a
      routerLink="/register"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Register</a
    >
  </li>
</ul>

}@else {
<p>{{ profile()?.username }}</p>

<button (click)="logout()">logout</button>
}

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
