<h1>Zemanik CMS</h1>
<nav>
  <ul>
    <li>
      <a
        routerLink="/collections"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Collections</a
      >
    </li>
    <li>
      <a
        routerLink="/files"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Files</a
      >
    </li>
  </ul>
</nav>
@if (!profile()) {
<login-form></login-form>

}@else {
<p>{{ profile()?.username }}</p>

<button (click)="logout()">logout</button>
}

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
