<section>
  @if (true) {
  <login-form></login-form>
  }
  <h1>Collections</h1>
  <button (click)="loadCollections()">Load collecti ons</button>
  <button (click)="loadRootFolder()">Load root folders</button>
  <ul>
    <li *ngFor="let collection of collections">
      {{ collection.id }}
      {{ collection.displayName }}
    </li>
  </ul>
  <ul>
    <li *ngFor="let folder of folders.folders">
      <button (click)="loadFolderContent(folder.id)">
        {{ folder.absolutePath }}
        {{ folder.name }}
      </button>
    </li>
  </ul>
  <ul>
    <li *ngFor="let file of folders.files">
      {{ file.absolutePath }}
      {{ file.name }}
    </li>
  </ul>
</section>
